---
import MainLayout from "../layouts/MainLayout.astro"
import BlogPost from "../components/BlogPost.astro"

const allPosts = Object.values(import.meta.glob("./posts/*.md", { eager: true }))

const title = "My Astro Learning Blog"
---

<MainLayout title={title}>
	<body>
		<h2>Welcome to my blog!</h2>

		<p>This is where I will share my thoughts and experiences as I continue to learn and grow as a developer.</p>

		<p>Stay tuned for more updates!</p>

		<ul>
			<!-- <li>
				<a href="/posts/post-1">Posts 1</a>
			</li>
			<li>
				<a href="/posts/post-2">Posts 2</a>
			</li>
			<li>
				<a href="/posts/post-3">Posts 3</a>
			</li> -->

			{
				allPosts.map(post => {
					return <BlogPost title={post.frontmatter.title} url={post.url} />
				})
			}
		</ul>
	</body>
</MainLayout>
