<body>
	<a href="/">Home</a>
	<a href="/about">About</a>
	<a href="/blog">Blog</a>
	<h1>Blog</h1>
	<h2>Welcome to my blog!</h2>

	<p>This is where I will share my thoughts and experiences as I continue to learn and grow as a developer.</p>

	<p>Stay tuned for more updates!</p>
</body>
