---
import Counter from "../components/Counter"
import MainLayout from "../layouts/MainLayout.astro"
const title = "Home"
---

<MainLayout title={title}>
	<body>
		<!-- <Counter client:load>
			<h2 slot="counter-slot">Counter</h2>
			<p>Click the button to increment the counter:</p>
		</Counter> -->
	</body>
</MainLayout>
